---
const email="gcdruanroldan@gmai.com";
const linkedin="https://es.linkedin.com/in/roy-duran";
const github="https://github.com/RoyDuran/RoyDuran";
const whatsapp = "https://wa.me/34722511717";
---
<section id="contact">
  <h2>Contacto</h2>
  <ul>
    <li>Email: <a href={`mailto:${email}`}>{email}</a></li>
    <li>LinkedIn: <a href={linkedin} target="_blank">{linkedin}</a></li>
    <li>GitHub: <a href={github} target="_blank">{github}</a></li>
    <li>whatsapp: <a href={whatsapp}>722 51 17 17</a></li>
  </ul>