---
const enlaces={
  Email:"gcduranroldan@gmail.com",
  Linkedin:"https://es.linkedin.com/in/roy-duran/",
  Github:"https://github.com/RoyDuran/",
  Whatsapp:"https://wa.me/34639615393"
}
---
<section id="contact">
  <h3 class="text-center">Contacto</h3>
  <ul class="overflow-hidden">
    <li class="fade-up">Email: <a  class="text-blue-500 font-semibold" href={`https://mail.google.com/mail/?view=cm&to=${enlaces.Email}`} target="_blank">{enlaces.Email}</a></li>
    <li class="fade-up">Linkedin: <a  class="text-blue-500 font-semibold" href={enlaces.Linkedin} target="_blank">{enlaces.Linkedin}</a></li>
    <li class="fade-up">Github: <a  class="text-blue-500 font-semibold" href={enlaces.Github} target="_blank">{enlaces.Github}</a></li>
    <li class="fade-up">Whatsapp: <a  class="text-blue-500 font-semibold" href={enlaces.Whatsapp} target="_blank">722 511 717</a></li>
  </ul>
</section>